
// ------------------------------------------------------------------------------------------------------------------------

  **1 Active Directory domains and trusts ( last pulled on 2019-07-18 @ 03:18:14 PM )

  |---------------------------|--------------------|------------------------------------| 
  |                           |                    |                                    | 
  |  Client Port(s)           |  Server Port       |  Service                           | 
  |                           |                    |                                    | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP           |  135/TCP           |  RPC Endpoint Mapper               | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP           |  1024-65535/TCP    |  RPC for LSA, SAM, Netlogon (*)    | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP/UDP       |  389/TCP/UDP       |  LDAP                              | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP           |  636/TCP           |  LDAP SSL                          | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP           |  3268/TCP          |  LDAP GC                           | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP           |  3269/TCP          |  LDAP GC SSL                       | 
  |---------------------------|--------------------|------------------------------------| 
  |  53,1024-65535/TCP/UDP    |  53/TCP/UDP        |  DNS                               | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP/UDP       |  88/TCP/UDP        |  Kerberos                          | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP           |  445/TCP           |  SMB                               | 
  |---------------------------|--------------------|------------------------------------| 
  |  1024-65535/TCP           |  1024-65535/TCP    |  FRS RPC (*)                       | 
  |---------------------------|--------------------|------------------------------------| 



// ------------------------------------------------------------------------------------------------------------------------
  
	**2 Azure AD Connect and On-premises AD ( last pulled on 2019-07-18 @ 03:22:57 PM )

  |--------------|----------------------|--------------------------------------------------------------------------------|
  |              |                      |                                                                                |
  |  Protocol    |  Ports               |  Description                                                                   |
  |              |                      |                                                                                |
  |--------------|----------------------|--------------------------------------------------------------------------------|
  |  DNS         |  53 (TCP/UDP)        |  DNS lookups on the destination forest.                                        |
  |--------------|----------------------|--------------------------------------------------------------------------------|
  |  Kerberos    |  88 (TCP/UDP)        |  Kerberos authentication to the AD forest.                                     |
  |--------------|----------------------|--------------------------------------------------------------------------------|
  |  MS-RPC      |  135 (TCP/UDP)       |  Used during the initial configuration of the Azure AD Connect wizard when     |
  |              |                      |  it binds to the AD forest, and also during Password synchronization.          |
  |--------------|----------------------|--------------------------------------------------------------------------------|
  |  LDAP        |  389 (TCP/UDP)       |  Used for data import from AD. Data is encrypted with Kerberos Sign & Seal.    |
  |--------------|----------------------|--------------------------------------------------------------------------------|
  |  SMB         |  445 (TCP/UDP)       |  Used by Seamless SSO to create a computer account in the AD forest.           |
  |--------------|----------------------|--------------------------------------------------------------------------------|
  |  LDAP/SSL    |  636 (TCP/UDP)       |  Used for data import from AD. The data transfer is signed and encrypted.      |
  |              |                      |  Only used if you are using SSL.                                               |
  |--------------|----------------------|--------------------------------------------------------------------------------|
  |  RPC         |  49152-65535         |  Used during the initial configuration of Azure AD Connect when                |
  |              |  (Random high RPC    |  it binds to the AD forests, and during Password synchronization.              |
  |              |  Port)(TCP/UDP)      |  See KB929851, KB832017, and KB224196 for more information.                    |
  |--------------|----------------------|--------------------------------------------------------------------------------|



// ------------------------------------------------------------------------------------------------------------------------
//
// Citation(s)
//
//   **1  |  support.microsoft.com  |  "How to configure a firewall for Active Directory domains and trusts"  |  https://support.microsoft.com/en-us/help/179442/how-to-configure-a-firewall-for-domains-and-trusts
//
//   **2  |  docs.microsoft.com/AZURE  |  "Hybrid Identity Required Ports and Protocols"  |  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-ports
//
//   **3  |  isc.sans.edu  |  "Active Directory Ports"  |  https://isc.sans.edu/diary/Cyber+Security+Awareness+Month+-+Day+27+-+Active+Directory+Ports/7468
//
// ------------------------------------------------------------------------------------------------------------------------