# Do not upload Images from ImageMagick input/output working-directories to Git-Repo
#		--> List of image extensions obtained from BNet's NGINX mime.types config
#		--> BNet's mime.types config is built largely from SwiftMail's mime.types config, I believe
#									--MCavallo, 2019-03-28 14:08:20
*.odi
*.oti
*.dmg
*.iso
*.t3
*.bmp
*.cgm
*.g3
*.gif
*.ief
*.jpg
*.jpeg
*.jpe
*.ktx
*.png
*.btif
*.sgi
*.svgz
*.svg
*.tiff
*.tif
*.psd
*.uvvi
*.uvvg
*.uvi
*.uvg
*.djvu
*.djv
*.dwg
*.dxf
*.fbs
*.fpx
*.fst
*.mmr
*.rlc
*.mdi
*.wdp
*.npx
*.wbmp
*.xif
*.webp
*.3ds
*.ras
*.cmx
*.fhc
*.fh7
*.fh5
*.fh4
*.fh
*.ico
*.sid
*.pcx
*.pic
*.pct
*.pnm
*.pbm
*.pgm
*.ppm
*.rgb
*.tga
*.xbm
*.xpm
*.xwd