# --------------------------------------------------------------------------------------------------------- #
# vvv   HTTP   vvv
#
#==--  mcavallo.com, cavallo.cash, cavallo.lol, cavallo.network, cavallo.tech
server {
	listen 80;
	server_name ~^(?:(\w[\-\.]?)*[\w\-]\.)?(mcavallo\.com)|(cavallo\.(cash|lol|network|tech))$;
	location / {
		return 302 https://www.github.com/mcavallo-git;
	}
}
#==--  cashapp.cavallo.cash
server {
	listen 80;
	server_name ~^cashapp\.cavallo\.cash$;
	location / {
		return 302 https://cash.me/mcavallo;
	}
}
#==--  venmo.cavallo.cash
server {
	listen 80;
	server_name ~^venmo\.cavallo\.cash$;
	location / {
		return 302 https://venmo.com/Cavalol;
	}
}
#==--  cavallo.cash
#==--  pay.cavallo.cash
#==--  paypal.cavallo.cash
server {
	listen 80;
	server_name ~^(?!cashapp|venmo)(?:(\w[\-\.]?)*[\w\-]\.)?cavallo\.cash$;
	location / {
		return 302 https://www.paypal.me/cavalol;
	}
}
#
# --------------------------------------------------------------------------------------------------------- #
#  vvv HTTPS
#
#==--  mcavallo.com
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name ~^(?:(\w[\-\.]?)*[\w\-]\.)?mcavallo\.com$;
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://www.github.com/mcavallo-git;
	}
}
#==--  cashapp.cavallo.cash
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name ~^cashapp\.cavallo\.cash$;
	ssl_certificate "/etc/letsencrypt/live/cavallo.cash/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/cavallo.cash/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/cavallo.cash/chain.pem";
	location / {
		return 302 https://cash.me/mcavallo;
	}
}
#==--  venmo.cavallo.cash
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name ~^venmo\.cavallo\.cash$;
	ssl_certificate "/etc/letsencrypt/live/cavallo.cash/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/cavallo.cash/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/cavallo.cash/chain.pem";
	location / {
		return 302 https://venmo.com/Cavalol;
	}
}
#==--  cavallo.cash
#==--  pay.cavallo.cash
#==--  paypal.cavallo.cash
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name ~^(?!cashapp|venmo)(?:(\w[\-\.]?)*[\w\-]\.)?cavallo\.cash$;
	ssl_certificate "/etc/letsencrypt/live/cavallo.cash/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/cavallo.cash/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/cavallo.cash/chain.pem";
	location / {
		return 302 https://www.paypal.me/cavalol; # Note: https://paypal.me/cavalol/25 will request $25
	}
}
#==--  cavallo.lol
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name ~^(?:(\w[\-\.]?)*[\w\-]\.)?cavallo\.lol$;
	ssl_certificate "/etc/letsencrypt/live/cavallo.lol/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/cavallo.lol/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/cavallo.lol/chain.pem";
	location / {
		return 302 https://www.github.com/mcavallo-git;
	}
}
#==--  cavallo.network
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name ~^(?:(\w[\-\.]?)*[\w\-]\.)?cavallo\.network$;
	ssl_certificate "/etc/letsencrypt/live/cavallo.network/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/cavallo.network/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/cavallo.network/chain.pem";
	location / {
		return 302 https://www.github.com/mcavallo-git;
	}
}
#==--  cavallo.tech
server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name ~^(?:(\w[\-\.]?)*[\w\-]\.)?cavallo\.tech$;
	ssl_certificate "/etc/letsencrypt/live/cavallo.tech/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/cavallo.tech/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/cavallo.tech/chain.pem";
	location / {
		return 302 https://www.github.com/mcavallo-git;
	}
}
#
# --------------------------------------------------------------------------------------------------------- #
#  vvv Certs
#
# certbot --nginx \
# -d cavallo.cash \
# -d cashapp.cavallo.cash \
# -d pay.cavallo.cash \
# -d paypal.cavallo.cash \
# -d venmo.cavallo.cash \
# -d www.cavallo.cash \
# ;
#
# certbot --nginx -d cavallo.lol -d www.cavallo.lol;
#
# certbot --nginx -d cavallo.network -d www.cavallo.network;
#
# certbot --nginx -d cavallo.tech -d www.cavallo.tech;
#
# certbot --nginx -d mcavallo.com -d www.mcavallo.com;
#
# --------------------------------------------------------------------------------------------------------- #
#  vvv Debug
#
# http://mcavallo.com
# http://www.mcavallo.com
# https://mcavallo.com
# https://www.mcavallo.com
#
# http://cavallo.cash
# http://cashapp.cavallo.cash
# http://pay.cavallo.cash
# http://paypal.cavallo.cash
# http://venmo.cavallo.cash
# http://www.cavallo.cash
# https://cavallo.cash
# https://cashapp.cavallo.cash
# https://pay.cavallo.cash
# https://paypal.cavallo.cash
# https://venmo.cavallo.cash
# https://www.cavallo.cash
#
# http://cavallo.lol
# http://www.cavallo.lol
# https://cavallo.lol
# https://www.cavallo.lol
#
# http://cavallo.network
# http://www.cavallo.network
# https://cavallo.network
# https://www.cavallo.network
#
# http://cavallo.tech
# http://www.cavallo.tech
# https://cavallo.tech
# https://www.cavallo.tech
#
# --------------------------------------------------------------------------------------------------------- #
