# CrystalDiskMark - Cached Settings (often workstation-specific)
# DiskMark32.ini  ### !!! Keep commented out to allow for consistent test strategy
# DiskMark64.ini  ### !!! Keep commented out to allow for consistent test strategy
